.button {
	-fx-background-color: #009688;
}

.button:hover {
	-fx-background-color: #00796b;
}

.button:pressed {
	-fx-background-color: #009688;
}

.text-field:focused {
	-fx-border-color: #009688;
}